/**
Created by Luís Oliveira
https://github.com/charlieIT
 */

/**
    General styling
 */

@font-face {
    font-family: "Audimat";
    font-style: normal;
    font-weight: normal;
    src: url("https://charlieit.github.io/audimat/AUdimat-Regular.otf");
    src: url("https://charlieit.github.io/audimat/AUdimat-Bold.otf") format("opentype"),
    url("https://charlieit.github.io/audimat/AUdimat-BoldItalic.otf") format("opentype");
}

html {
    height: 100%;
    font-family: "Audimat", fantasy !important;
    font-size: 0.85em;
    background-color: white;
}

body {
    font-family: inherit !important;
/ / font-family: "Audimat", serif !important;
    min-height: 100%;
}

body,
h1,
h2,
h3,
img,
a,
input,
button,
header,
div {
    font-family: "Audimat", fantasy !important;
}

/**
    Backgrounds & body
 */
.landing-image {
    /*background: url("http://msi.dsi.uminho.pt/wp-content/uploads/2015/02/foto3.jpg") no-repeat center center fixed;*/
    background: url("http://msi.dsi.uminho.pt/wp-content/uploads/2015/04/foto6-red.jpg") no-repeat center center fixed;
    background-size: cover !important;

    z-index: 0;
}

.landing-image-secondary {
    /*background: url("http://msi.dsi.uminho.pt/wp-content/uploads/2015/02/foto3.jpg") no-repeat center center fixed;*/
    background: url("http://msi.dsi.uminho.pt/wp-content/uploads/2015/02/foto11.jpg") no-repeat center center fixed;
    background-size: cover !important;
    opcacity: .4;
    z-index: -1;
}

.roster-pic {
    height: 64px;
    width: 64px;
}

.ais-background {
    background: url(assets/logo_ais_trp.png) no-repeat center center fixed;
    background-size: cover !important;
}

/**
    Main menu
 */
.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

/** Override */
.ui.secondary.inverted.pointing.menu .item:hover {
    color: gray !important;
}

@media screen and (max-width: 700px) {
    /*
    overwrite luis, used to be only .ui.fixed.menu (...)
    */
    .page .ui.fixed.menu *:not(a.toc.item) {
        display: none !important;
    }

    .mhead .ui.fixed.menu {
        display: block !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .masthead.segment {
        min-height: 350px;
    }

    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

.top.fixed.menu {
    opacity: 0.7;
}

.img2 {
    width: 64px;
    height: 64px;
}

img.medi-sponsors {
    max-width:200px;
    max-height: 200px;
}

img.medi-sponsors-edit {
    max-width:150px;
    max-height: 150px;
}

.def-padding {
    height: 110vh;
    padding-top: 10%;
}

.highlight {
    background: yellow;
}

.v1 {
    display: inline;
}

.v2 {
    text-align: justify;
    display: none;
}

.notebook-background {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

#main {
    min-height:100vh;
    height: auto;
    padding-top: 1.5%;
    background: url("assets/cartaz-tsi-bg_bw.png") no-repeat 0 0px;
    background-size: 100% !important;
}

#main_info {
    margin-left: -10px;
    min-height: 100px;
}

.rotate-container {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.cartaz-bg {
   /* background: url("assets/cartaz-tsi-bg_bw.png") no-repeat 0 0px;
    background-size: 100% !important;*/
}

#main_text {
    padding: 3% 0 3% 0;
}

#bg {
    height: auto;
    max-height: 90vh;
}

/**
    Agenda
 */

#schedule div.segment {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    min-height: 75px;

}

#schedule div.segment {
    padding: 25px 25px !important;
    font-size: 20px;
    box-shadow: 0px 2px 3px grey;
}

#schedule div.segment:hover {
    /*background-color:#f4f4f4;*/
    background-color: #337ab7;
    color: white;

    /*color: white;*/
    /*transform: scale(1.1);*/
}

#schedule div.segment:hover p {
    /*text-align: center;
    transform: scale(1.3);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;*/
}

#schedule div.segment:hover span {
    border-color: white;
}

#schedule div.segment p {
    /*transform: scale(1.0);*/
    /*-webkit-transition-duration: 1s;
    transition-duration: 1s;
    */
}

#schedule div.segment h3 {
    font-size: 24px;
}

#schedule span.time-span {
    font-size: 24px;
    padding: 10px;
    border-right: 3px solid grey;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
}

#schedule span.time-span-2 {
    font-size: 24px;
    border-bottom: 1px solid #00B5AD !important;
}

#schedule span.time-span2-inverted {
    font-size: 24px;
    border-bottom: 1px solid #00B5AD !important;
}

#schedule span.time-span-inverted {
    font-size: 24px;
    padding: 10px;
    border-left: 3px solid grey;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}

.ag-icon {
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
}

.ag-icon:hover {
    color: white;
}

.ag-img {

}

#agenda-page > .ui.segment {
    box-shadow: none !important;
    padding: 0;
    border: none !important;
    border-radius: 0px !important;
}

#agenda,
#agenda_c,
#ais_2016 {
    padding-top: 5%;
    padding-bottom: 5%;
    min-height: 80vh;
}

#agenda div.row {
    margin: 10px 0;
}

#agenda div.segment {
    font-size: 24px;
}

#schedule h3.ui span.warning:hover {
    background-color:red;
    color: white;
}

/**
    Roster & fotos
 */
#agenda_holder div.segment, #agenda_holder_2 div.segment {
    max-width: 50% !important;
}

#ais_2017 {
    height: auto;
}

#ais_2017 #roster {
    position: relative;
}

#contacts {
    min-height: 70vh;
    padding: 3% 0 10% 0;
}

/**
Challenges & concursos
 */
#challenges {
    min-height: 50vh;
}

#challenges .ui.segments div.ui.segment {
    font-size: 18px;
}

#challenges .ui.segments div.ui.segment:hover {
    background-color: #1e4b6e;
    color: white;
}

.spaced {
    margin: 20px 35px;
}

.contact-info {
    text-align: center;
    line-height: 22px;
    font-variant: small-caps;
}

.my-style {
    border-bottom: 1px solid gray;
    min-width: 500px;
}

.my-blue {
    background-color: #337ab7 !important;
    color: #337ab7;
}

.my-darken-blue {
    background-color: #1E4B6E !important;
}

.my-gray {
    background-color: gray !important;
}

.transformed {
    /*text-transform: uppercase;*/
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 1px;
}

.ncl {
    text-transform: none !important;
    font-variant: none !important;
    letter-spacing: normal !important;
}

.cartaz {
    background-image: url(https://aisscum.files.wordpress.com/2016/03/untitled2.jpg?w=503&h=356);
}

#sec_top {
    background-color: black;
    font-variant: small-caps;
    min-height: 50px;
    font-size: 18px;
    border-bottom: 1px solid #337ab7;
}

.page #sec_top a.toc.item {
    display:none;
}

@media (max-width: 720px) {
    .page #sec_top a.toc.item {
        display:block;
    }
    .page #sec_top a:not(.toc), #sec_top div.item  {
        display:none;

}

}

#sec_top a, .menu, .item, .menu, #social_media {
    color: white;
}

#sec_top .item:hover {
    /* box-shadow: 5px 0px 5px white;*/
    /* -webkit-transition: all 200ms ease-in;
     -webkit-transform: scale(1.02);
     -ms-transition: all 200ms ease-in;
     -ms-transform: scale(1.02);
     -moz-transition: all 200ms ease-in;
     -moz-transform: scale(1.02);
     transition: all 200ms ease-in;
     transform: scale(1.02);*/
}

#about-text {
    padding: 3% 0;
}

#about-text p, #about-text h3 {
    padding: 2px 12px;
    color: white !important;
    /*background-color: rgba(0, 0, 0, .4);*/
    background-color: rgba(30, 75, 110, 0.5);
}

#about a.button {
    background-color: rgba(255,255,255,0.5) !important;
    color: #1e4b6e !important;
}
#about a.button:hover {
    background-color: white !important;
    color: #1e4b6e !important;
}

/**
    Atividades
 */
#atividades {
    height: auto;
    padding-top: 1.5%;
    padding-bottom: 7%;
}

#atividades #atividades_content {
    position: relative;
}

#atividades p, #atividades span {
    color: white !important;
    background-color: rgba(0, 0, 0, .6);
}

#atividades p {
    margin-left: 0px;
    padding-left: 5px;
    /*text-transform: capitalize;*/
    font-variant: small-caps;
    font-size: 14pt;
    text-align: center;
    min-width: 120px;
}

#atividades div.three.wide.column {
    margin-bottom: 20px;
}

#atividades div.three.wide.column i {
    margin-bottom: 12px;
}

#label_atividades {
    margin: 40px 0;
}

/**
  Overlays
 */

.caption {
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 80%;
    /*border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;*/
}

.caption__media {
    display: block;
    /**min-width: 100%;*/
    width: 100%;
    height: 100%;
    /*border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;*/
    /*
    opacity: 0.95;
    */
}

.caption__overlay {
    text-align: center;
    color: white !important;
    font-family: "Lato";
    font-size: 18px;
    position: absolute;
    max-width: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 12px;
    transform: translateY(100%);
    transition: transform .35s ease-out;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;

}

.caption:hover .caption__overlay {
    transform: translateY(0);
}

.caption__overlay__title {
    margin: 0;
    padding: 25px 0px 25px 0px;
    transform: translateY(calc(-100% - 10px)); /* +10px overlay padding */
    transition: transform .35s ease-out;
}

.caption:hover .caption__overlay__title {
    transform: translateY(0);

}

.caption::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.caption:hover::before {
    background: rgba(0, 0, 0, .5);
}

.caption__overlay__content {
    text-align: center;
    margin-top: -5px;
}

.caption {
    transform: translateZ(0);
}

/**
        Footer
 */

#footer .footer {
    /* border-style: solid;
     border-width: 90px 100vw 0 0;
     border-color: yellow black transparent transparent;
     transform: scale(1.0001);*/
    z-index: 0;
    /* background-size: 20px 20px;
     background-image:
             -webkit-repeating-linear-gradient(-45deg, black, black 1px, transparent 1px, transparent 14px);
     background-image:
             -moz-repeating-linear-gradient(-45deg, black, yellow 1px, transparent 1px, transparent 14px);
     background-image:
             -o-repeating-linear-gradient(-45deg, black, yellow 1px, transparent 1px, transparent 14px);
     background-image:
             repeating-linear-gradient(-45deg, black, yellow 1px, transparent 1px, transparent 14px);
             */
}

svg {
    display: block;
    width: 100%;
    height: 90px;
    background: #1e4b6e;
}

#svg2 {
    -webkit-transform: translateY(0) translateX(0) rotate(180deg);
}

#svg3 {
    background: #1e4b6e;
    -webkit-transform: translateY(0) translateX(0) rotate(180deg);
}

.small-footer-logos {
    float: left;
    padding: 5px 10px;
    /** melhor margin ? */
}
.small-footer-logos:first-child {
    float: left;
    padding: 5px 0px;
    /** melhor margin ? */
}

a.small-footer-logos img {
    max-width: 80px;
    max-height: 40px;
}

#footer #footer-social-media > i {
    margin: 10px 0px;
}

#footer a img:hover, #footer a i:hover {
    opacity: 1 !important;
}

    /**
        Programa
     */
#teste_content div.ui.message:hover {
    background-color: #f4f4f4;
}

.sessao-holder div.column {
    padding: 20px 0;
    /*border-right: 1px solid white;*/
    border-bottom: 1px transparent;
    text-align: center;
}
@media (max-width:770px) {
    .sessao-holder div.column {
        border-right: 1px transparent;
        border-bottom: 1px solid white;
    }
}

.sessao-holder div.column img {
    width: 24px;
    height: 24px;
    margin: 5px 10px 0 10px;
}

.sessao-holder div.column:last-of-type {
    border: none !important;
}

div.prog-contents {
    font-size: 20px;
}

.sessao-holder div.column:hover {
    background-color: grey;
}

#prog_details {
    height: auto;
    padding-top: 1.5% !important;
    padding-bottom: 7% !important;
}

/**
parceiros e apoios
 */

#partners div.grid div.column {

}

/**
Overwrite
 */

h1 {
    font-size: 40px;
}

#page .ui.segment {
    box-shadow: none !important;
    border: none !important;
    border-radius: 0px !important;
    margin: 0 !important;
}

/** Empresas **/

.logo-wrapper {
    width: 260px;
    height: 184px;
}

.logo-emp {
    display: inline-block;
    height: 50%;
    vertical-align: middle;
    width: 100%;
}

#empresas.segment div.topline {

}

#empresas.segment > div.grid div.row .column.rotate1 {
    border-bottom: none !important;
    -webkit-transform: translateY(-20px) translateX(5px) rotate(-7deg);
    position: relative;
    z-index: 2;
}

#empresas.segment > div.grid div.row.rotate2 {
    border-bottom: none !important;
    -webkit-transform: translateY(-20px) translateX(5px) rotate(-7deg);
    position: relative;
    z-index: 2;
}

#empresas div.row {
    max-height: 200px;
    min-height: 200px;
    padding: 0;
}

#label_contacto {
    margin: 50px 0 10px 0;
}

#empresas div.column {
    max-width: 100%;
    max-height: 80%;
    text-align: center;
    margin: 0 2%;
    padding: 0 2%;
}

@media(max-width:1100px) {
    #empresas div.column {
        width:auto;
        margin: 0 5%;
        max-width: unset;
    }
}

#empresas .img-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex; /* add */
    justify-content: center; /* add to align horizontal */
    align-items: center; /* add to align vertical */
}

#empresas div.column img {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    max-width: 300px;
    max-height: 300px;
}

/**
Poderia ser uma solução para ter todas img do mesmo tamanho
 */
#empresas div.column .img {
    position: relative;
    width:  300px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;

}

#prog_details div.header span {
    font-size: 24px;
}

#prog_details div.header {
    font-size: 18px;
}

#teste_content div.message {
    line-height: 24px;
}

#prog_details p {

}

/**
Tricky
 */
.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.hidden.menu {
    display: none;
}

.hidden-desktop {
    display: none;
}
.visible-mobile {
    visibility: hidden;
}

@media (max-width: 720px) {
    .hidden-desktop {
        display: block;
    }

    #main_text {
        margin-top:30%;
    }

    .hidden-mobile {
        visibility: hidden;
    }

    .hidden-mobile h2, .hidden-mobile h1  {
        visibility: visible;
    }

    .visible-mobile {
        display: block;
        visibility: visible;
    }
    #main, #bg {
        height: auto;
        max-height: 80vh;
    }

}

/**
    Media queries
 */

@media (max-width: 1200px) {
    /*.caption, .caption__media {
        width: 120px;
        height: 120px;
        border-radius: 120px;
        -webkit-border-radius: 120px;
        -moz-border-radius: 120px;
    }
    */
    .caption__overlay__title {
        font-size: 10px;
    }

    .caption__overlay__content {
        font-size: 8px;
    }

    #roster div.column {
        /*max-width: 125px;*/
    }

    .spaced {
        margin: 20px 80px 15px 0px;
    }

    #label_atividades {
        margin: 40px 0;
        padding: 20px 0;
    }
}

@media (max-width: 790px) {

    #media {
        min-height: 70vh;
    }

    #btn-inscricoes {
        display: none !important;
    }

    /* .caption, .caption__media {
         width: 90px;
         height: 90px;
         border-radius: 90px;
         -webkit-border-radius: 75px;
         -moz-border-radius: 75px;
     }
*/
    #roster div.column {
        max-width: 33%;
    }

    #ais_2017 {
        /*min-height: 150vh;*/
    }

    #atividades {
        min-height: 130vh;
        padding-top: 0;
    }

    #atividades_content {
        margin-bottom: 25px;
    }

    i.i-right, img.i-right {
        visibility: hidden;
    }
    i.i-left, img.i-left {
        visibility: hidden;
    }

    /**
    menu fixo topo
     */

}

@media (max-width: 480px) {

    #btn-inscricoes, #btn-contactos {
        display: none;
    }

    #roster div.column {
        min-width: 50%;
    }

}

@media (max-width: 360px) {

    #btn-inscricoes, #btn-contactos {
        display: none;
    }

    /*
                    .caption, .caption__media {
                        width: 64px;
                        height: 64px;
                        border-radius: 60px;
                        -webkit-border-radius: 60px;
                        -moz-border-radius: 60px;
                    }
                    */
    .caption__overlay__title {
        font-size: 12px;
        padding: 0 0px 10px 0px;
    }

    .caption__overlay__content {
        font-size: 8px;
    }

    #roster div.column {
        width: 50%;
    }

    #atividades {
        min-height: 160vh;
    }
}


/**
experimentação
 */

#atividades, #ais_2017, #about {
    /*background: url("assets/ep_naturalblack.png") repeat 0 0px;*/
}
#challenges, #partners, #contacts {
    /*background: url("assets/circles-and-roundabouts.png.png") repeat 0 0px;*/
}